* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Parisian";
  src: url("../../fonts/parisr.eot") format("eot");
  src: url("../fonts/parisr.svg") format("svg");
  src: url("../fonts/parisr.ttf") format("tff");
  src: url("../fonts/parisr.woff") format("woff");
}
header {
  margin-top: 2rem;
}
header ul {
  white-space: nowrap;
  list-style: none;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 1%;
}
header ul li {
  display: inline-block;
  padding: 0.5rem;
}
header ul li a {
  color: #236841;
}
header h2, header #home-grid-container .main h3, #home-grid-container .main header h3, header #home-grid-container .main h1, #home-grid-container .main header h1 {
  font-family: Parisian;
  font-weight: 300;
  font-size: large;
}
header #header-logo {
  background-image: url("/images/Logo/emblem_logo_96.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo-text {
  position: absolute;
  top: 40px;
  left: 110px;
  white-space: nowrap;
}
header nav {
  /*
  * Just a quick hamburger
  */
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  /*
  * But let's hide the middle one.
  */
  /*
  * Ohyeah and the last one should go the other direction
  */
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  /*
  * And let's slide it in from the left
  */
}
header nav #menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
header nav #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
header nav #menuToggle a:hover {
  color: tomato;
}
header nav #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
header nav #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header nav #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
header nav #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header nav #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
header nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header nav #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
header nav #menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header nav #menu li {
  padding: 10px 0;
  font-size: 22px;
}
header nav #menuToggle input:checked ~ ul {
  transform: none;
}

footer {
  background-color: #236841;
}
footer a {
  line-height: 1.8;
  color: #FFFFFF;
}
footer li {
  list-style: none;
  text-align: center;
}
footer p {
  color: #FFFFFF;
  margin: 1rem;
}
footer p span {
  font-family: Parisian;
  font-size: large;
}
@media (min-width: 1024px) {
  footer .footer-top-links {
    display: none;
  }
  footer .bottom-links {
    margin-top: 1rem;
  }
}

#home-grid-container .main-pictures img {
  max-width: 30%;
}
@media (min-width: 601px) {
  #home-grid-container .main-pictures {
    text-align: center;
  }
}
@media (max-width: 600px) {
  #home-grid-container .main-pictures {
    display: none;
  }
}
#home-grid-container .main h1 {
  text-align: center;
  text-transform: uppercase;
}
#home-grid-container .main h2, #home-grid-container .main h3, #home-grid-container .main h1 {
  margin: 1rem;
  margin-top: 2rem;
  white-space: nowrap;
  font-weight: 300;
  text-transform: uppercase;
}
#home-grid-container .main P {
  margin: 1rem;
}
#home-grid-container .main ul {
  margin-left: 2rem;
}
#home-grid-container .main ul li {
  width: 90%;
}
#home-grid-container .media {
  margin-top: 1rem;
  text-align: center;
}
#home-grid-container #sidebar figure {
  margin-left: 1rem;
}
#home-grid-container #sidebar figure img {
  max-width: 60%;
}
#home-grid-container #sidebar .sidebar-feature1 {
  width: 80%;
}
#home-grid-container #sidebar .sidebar-feature1 a {
  font-size: large;
  color: #236841;
}
#home-grid-container #sidebar .sidebar-feature1 a:hover {
  font-weight: 600;
}
#home-grid-container header {
  grid-area: header;
}
#home-grid-container nav {
  grid-area: nav;
}
#home-grid-container .main {
  grid-area: main;
}
#home-grid-container #sidebar {
  grid-area: sidebar;
}
#home-grid-container #sidebar img {
  mix-blend-mode: darken;
}
#home-grid-container footer {
  grid-area: footer;
}
#home-grid-container .main-pictures {
  grid-area: main-pictures;
  margin-top: 2rem;
}
#home-grid-container .main-pictures img {
  mix-blend-mode: darken;
}
#home-grid-container .intro {
  grid-area: intro;
}
#home-grid-container .media {
  grid-area: media;
  margin-top: 2rem;
}
#home-grid-container #selling {
  grid-area: selling;
  margin-top: 2rem;
}
#home-grid-container #buying {
  grid-area: buying;
}
#home-grid-container #valuing {
  grid-area: valuing;
  width: 85%;
}
@media (max-width: 600px) {
  #home-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main-pictures" "main" "navbar" "footer";
    grid-gap: 1.8rem;
  }
  #home-grid-container video {
    max-width: 90%;
  }
  #home-grid-container .media {
    margin-top: 3rem;
  }
}
@media (min-width: 601px) {
  #home-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main-pictures main-picture" "main main" "nav nav" "footer footer";
    grid-gap: 1rem;
  }
  #home-grid-container main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro intro" "buying sidebar" "valuing.";
    grid-gap: 1rem;
  }
  #home-grid-container #intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "media selling";
    grid-gap: 1rem;
  }
  #home-grid-container .main h1 {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #home-grid-container video {
    max-width: 90%;
  }
  #home-grid-container #sidebar {
    text-align: center;
  }
  #home-grid-container #sidebar figure img {
    max-width: 30%;
  }
  #home-grid-container #sidebar .sidebar-feature1 {
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  #home-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  #home-grid-container main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: ". intro . " "media main-pictures selling" "buying valuing sidebar";
  }
  #home-grid-container video {
    margin-left: 1rem;
    max-width: 90%;
  }
  #home-grid-container #selling {
    width: 70%;
  }
}

#booksgirdcontainer main section h2, #booksgirdcontainer main section #home-grid-container .main h1, #home-grid-container .main #booksgirdcontainer main section h1, #booksgirdcontainer main section #home-grid-container .main h3, #home-grid-container .main #booksgirdcontainer main section h3 {
  margin-bottom: 1rem;
}
#booksgirdcontainer main p {
  width: 85%;
  margin-bottom: 1rem;
}
#booksgirdcontainer main a {
  font-size: large;
  color: #236841;
}
#booksgirdcontainer main a:hover {
  font-weight: 600;
}
#booksgirdcontainer .pictures {
  margin-top: 3rem;
  text-align: center;
}
#booksgirdcontainer .pictures img {
  max-width: 50%;
}
#booksgirdcontainer header {
  grid-area: header;
}
#booksgirdcontainer main {
  grid-area: main;
}
#booksgirdcontainer #navbar {
  grid-area: navbar;
}
#booksgirdcontainer footer {
  grid-area: footer;
}
@media (max-width: 600px) {
  #booksgirdcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "navbar" "footer";
    grid-gap: 1rem;
  }
}
@media (min-width: 601px) {
  #booksgirdcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main main" "navbar navbar" "footer footer";
  }
}
@media (min-width: 1024px) {
  #booksgirdcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "header header header" "navbar main main" "footer footer footer";
  }
}

#contactgridcontainer form {
  background: #EEE;
  padding: 1rem;
  border: 2px solid #6E4D19;
  margin-bottom: 1rem;
  width: 75%;
}
#contactgridcontainer form label {
  margin-left: 1rem;
}
#contactgridcontainer form legend {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
#contactgridcontainer p {
  margin-top: 1rem;
}
#contactgridcontainer label {
  display: block;
}
#contactgridcontainer textarea {
  width: 95%;
  height: 7rem;
}
#contactgridcontainer button {
  background: #236841;
  padding: 1rem;
}
#contactgridcontainer button:focus {
  background-color: grey;
}
#contactgridcontainer input,
#contactgridcontainer select {
  width: 92%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
}
#contactgridcontainer input[type=checkbox],
#contactgridcontainer input[type=radio] {
  vertical-align: middle;
  width: 10%;
  transform: scale(1.5);
}
#contactgridcontainer fieldset {
  border: 1px solid #6E4D19;
}
#contactgridcontainer .contacttext a {
  font-size: large;
  color: #236841;
}
#contactgridcontainer .contacttext a:hover {
  font-weight: 600;
}
#contactgridcontainer .required {
  color: #F00;
}
#contactgridcontainer input:invalid:focus {
  outline: 3px solid #F00;
}
#contactgridcontainer input:valid:focus:not([type=radio]):not([type=checkbox]) {
  outline: 3px solid #236841;
}
#contactgridcontainer header {
  grid-area: header;
}
#contactgridcontainer #navbar {
  grid-area: navbar;
}
#contactgridcontainer footer {
  grid-area: footer;
}
#contactgridcontainer main {
  grid-area: main;
}
#contactgridcontainer .contacttext {
  grid-area: contacttext;
  width: 80%;
}
#contactgridcontainer form {
  grid-area: form;
}
#contactgridcontainer #contact {
  grid-area: contact;
}
#contactgridcontainer #interest {
  grid-area: interest;
}
#contactgridcontainer #extra1 {
  grid-area: extra1;
}
#contactgridcontainer #extra2 {
  grid-area: extra2;
}
#contactgridcontainer #submit {
  grid-area: submit;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  #contactgridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "navbar" "footer";
    grid-gap: 1rem;
  }
  #contactgridcontainer main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contacttext" "form";
    grid-gap: 1rem;
  }
  #contactgridcontainer form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contact" "interest" "extra1" "extra2" "submit";
  }
}
@media (min-width: 601px) {
  #contactgridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main main" "navbar navbar" "footer footer";
    grid-gap: 1rem;
  }
  #contactgridcontainer main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacttext contacttext" "form form";
    grid-gap: 1rem;
  }
  #contactgridcontainer form {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contact contact" "interest interest" "extra1 extra1" "extra2 extra2" "submit submit";
    grid-gap: 1rem;
  }
}
@media (min-width: 1024px) {
  #contactgridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "header header header" "navbar main main" "footer footer footer";
  }
  #contactgridcontainer main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacttext contacttext contacttext" "form form form";
    align-items: center;
  }
  #contactgridcontainer form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contact interest" "contact extra1" "contact extra2" "submit submit";
    grid-gap: 1rem;
  }
}

#booksgalerycontainer header {
  grid-area: header;
}
#booksgalerycontainer .booksgalery {
  grid-area: booksgalery;
}
#booksgalerycontainer #navbar {
  grid-area: navbar;
}
#booksgalerycontainer footer {
  grid-area: footer;
}
#booksgalerycontainer .galeryitem1 {
  grid-area: galeryitem1;
}
#booksgalerycontainer .galeryitem2 {
  grid-area: galeryitem2;
}
#booksgalerycontainer .galeryitem3 {
  grid-area: galeryitem3;
}
#booksgalerycontainer .galeryitem4 {
  grid-area: galeryitem4;
}
#booksgalerycontainer .galeryitem5 {
  grid-area: galeryitem5;
}
#booksgalerycontainer .galeryitem6 {
  grid-area: galeryitem6;
}
#booksgalerycontainer .galeryitem7 {
  grid-area: galeryitem7;
}
#booksgalerycontainer em {
  color: #343434;
}
#booksgalerycontainer p {
  margin-top: 1rem;
  width: 80%;
}
#booksgalerycontainer figure {
  text-align: left;
}
#booksgalerycontainer figure img {
  mix-blend-mode: darken;
}
@media (max-width: 600px) {
  #booksgalerycontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "booksgalery" "navbar" "footer";
    grid-gap: 1rem;
  }
}
#booksgalerycontainer .booksgalery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "galeryitem1" "galeryitem2" "galeryitem3" "galeryitem4" "galeryitem5" "galeryitem6" "galeryitem7";
  grid-gap: 1rem;
}
@media (min-width: 601px) {
  #booksgalerycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "booksgalery booksgalery" "navbar navbar" "footer footer";
    grid-gap: 1rem;
  }
  #booksgalerycontainer .booksgalery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "galeryitem1 galeryitem1" "galeryitem2 galeryitem3" "galeryitem4 galeryitem5" "galeryitem6 galeryitem7";
  }
}
@media (min-width: 1024px) {
  #booksgalerycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "header header header" "navbar booksgalery booksgalery" "footer footer footer";
  }
  #booksgalerycontainer .booksgalery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "galeryitem1 galeryitem1 galeryitem1" "galeryitem2 galeryitem3 galeryitem4" "galeryitem5 galeryitem6 galeryitem7";
  }
}

#deliverycontainer table {
  display: table;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
  margin-left: 1rem;
  width: 90%;
}
#deliverycontainer th,
#deliverycontainer td {
  border: 1px solid #000;
  padding: 0.1rem;
}
#deliverycontainer caption {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#deliverycontainer th {
  background-color: #a6a7a8;
}
#deliverycontainer tr:first-child {
  background-color: #a6a7a8;
}
#deliverycontainer .deliveryinfo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
#deliverycontainer .deliveryinfo span {
  line-height: 1;
}
#deliverycontainer header {
  grid-area: header;
}
#deliverycontainer #navbar {
  grid-area: navbar;
}
#deliverycontainer #delivery-content {
  grid-area: delivery-content;
  margin-bottom: 10rem;
}
#deliverycontainer footer {
  grid-area: footer;
}
@media (max-width: 600px) {
  #deliverycontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "delivery-content" "navbar" "footer";
    grid-gap: 1rem;
  }
}
@media (min-width: 601px) {
  #deliverycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "delivery-content delivery-content" "navbar navbar" "footer footer";
    grid-gap: 1rem;
  }
  #deliverycontainer td {
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 1024px) {
  #deliverycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "header header header" "navbar delivery-content delivery-content" "footer footer footer";
    grid-gap: 1rem;
    max-width: 100%;
  }
}

body {
  font-size: calc(16px + (19 - 16) * ((100vw - 500px) / (1800 - 500)));
  line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 500px) / (1800 - 500)));
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E6DDCD;
  color: #040404;
}
@media (max-width: 600px) {
  body .main-picture {
    display: none;
  }
}

main {
  padding: 1rem;
  margin-top: 2rem;
}

h1 {
  font-weight: lighter;
  font-family: Parisian;
}

h2, #home-grid-container .main h1, #home-grid-container .main h3 {
  font-family: Parisian;
  text-decoration: underline;
  -webkit-text-decoration-color: #236841;
          text-decoration-color: #236841;
}

a {
  list-style: none;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */